.phase-code {
  padding: 7px 10px;
  margin: 12px 0;
  background: #EEE;
  border: 1px dotted #AAA;
  font-size: 12px;
  line-height: 1.4;
}

.intro {
  margin: 50px;
}

.question {
  margin: 50px;

  & .choices {
    display: none;
  }
}

.answer {
  margin: 50px;
}