@import 'buttons';

.metal-box {
  background: url(imgs/metal.jpg);
  background-size: cover;
  box-shadow: 0 13px 40px #000;
  padding: 20px;

  & .inner {
    padding: 20px;
    background: rgba(#fff, 0.7);
    box-shadow: 0 2px 7px rgba(#000, 0.6);
  }
}

.box {
  background: #fff;
  padding: 26px;
  width: 552px;
  & h1 {
    margin-top: 4px;
  }
}

.reset {
  position: absolute;
  top: 0;
  right: 0;
}

.score {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  @include display-flex;
  @include flex-direction(row);
  @include justify-content(center);

  & .score-inner {
    background: #fff;
    padding: 10px;
  }
}

.browsers-remaining {
  margin: 20px 0 13px;
  padding: 0;
  list-style: none;
  text-align: center;

  & > * {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    width: 100px;
    height: 100px;
    background: no-repeat;
    background-size: contain;
    text-indent: -5000px;
    vertical-align: middle;
    @include transition(all 0.3s ease-in-out);
  }

  & .chrome {
    background-image: url(imgs/logos/chrome.png);
    width: 75px;
    height: 75px;
    margin-top: -3px;
  }
  & .safari {
    background-image: url(imgs/logos/safari.png);
  }
  & .ie {
    background-image: url(imgs/logos/ie9.png);
  }
  & .firefox {
    background-image: url(imgs/logos/firefox.png);
  }

  &.reveal {
    & > :not(.active) {
      @include transform(scale(0.8));
      @include filter(grayscale(1) blur(4px));
      opacity: 0.6;
    }
  }

  & > .inactive {
    @include transform(scale(0.8));
    @include filter(grayscale(1) blur(4px));
    opacity: 0.6;
  }
}

.question {
  @include transform-style(preserve-3d);
  @include transform(translateZ(0));

  & .title-container .title {
    background: #206C80;
    padding: 13px 26px;
    color: #fff;
    margin: 0;
    font-weight: normal;
  }

  & .answer-feedback {
    display: none;
  }
  & .answer-buttons {
    @include transform-origin(0 0);
    background: #D8EBFF;
    padding: 20px 26px;
    & .btn {
      width: 163px;
      margin: 0 3px;
    }
  }
  & .question-detail {
    @include transform(translateZ(0));
    padding-bottom: 0;
    overflow: hidden;
  }

  & .answer-feedback {
    @include transform-origin(0 0);
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 26px;

    &.correct {
      background: #D4F3D0;
    }
    &.incorrect {
      background: #FFE5E5;
    }
  }

  & .phase-code {
    margin-top: 0;
    overflow: hidden;

    & code {
      padding: 11px 16px;
    }
  }

  & .button-lead {
    margin: 0 0 11px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
  }
  & .button-lead-initial {
    display: none;
  }

  &.first-phase {
    & .button-lead {
      display: none;
    }
    & .button-lead-initial {
      display: block;
    }
  }
}