@font-face {
  font-family: akashi;
  src: url(fonts/akashi.ttf);
}

html {
  font-family: sans-serif;
  background: #000;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  @include perspective(1000);
}

body {
  margin: 0;
}