@font-face {
  font-family: akashi;
  src: url(fonts/akashi.ttf);
}

html {
  font-family: sans-serif;
  background: #000;
  height: 100%;
  font-size: 14px;
  line-height: 1.3;
  overflow: hidden;
  @include perspective(540);
}

body {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #1B6AB2;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #007AFF;
}