.button-row {
  @include display-flex;
  & > * {
    @include flex(1);
  }
  @include desktop {
    display: block;
    text-align: center;
  }
}

.centerer {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  @include desktop {
    @include transform-style(preserve-3d);
  }
}